*{
    box-sizing: border-box;
}
@media screen and (max-width: 992px){

    .enter .col-lg-5{
        display: none;
    }
    .enter .col-lg-7{
        background-image: url("images/computer.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .form-wrapper{
        background-color: transparent !important;
        width: 100%;
        padding: 60px !important;
        /*height: 870px;*/
    }
    .form-wrapper .form{
        /*height: 100%;*/
        margin: 0 !important;
        padding: 20px !important;
    }
    /*input.form-control{
        height: 65px !important;
    }*/
    .form-wrapper .form .form-title{
        margin: 30px 0;
        /*font-size: 34px !important;*/
    }
   /* .img-wrapper{
        max-width: 100% !important;
    }*/
    /*.form form button{
        font-size: larger;
    }
    .form form span{
        font-size: larger;
    }*/
    .shape-1{
        right: 0px !important;
        top: 3px !important;
        width: 95px;
    }
    .shape-2{
        left: 12px !important;
        top: 3px !important;
        height: 258px !important;
    }
    .shape-3{
        left: 12px !important;
        bottom: 20px !important;
        width: 121px !important;
    }
}
.left-computer{
    max-height: 100vh;
    width: 100%;
}
.form-wrapper{
    padding: 120px;
    background-color: #fff;
    position: relative;
}
.form-wrapper .form{
    margin: 0 60px;
    border-radius: 2px;
    border: solid 1px #e1e1e1;
    background-color: #fcfcfc;
    padding: 50px;
    z-index: 999;
    position: relative;
}
.form-wrapper .form .form-title{
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    margin-top: 10px;
}
.img-wrapper{
    max-width: 180px;
}
 input.form-control:focus{
     outline: 0;
     box-shadow: none;
}
 input.form-control{
     height: 50px;
 }
.form form span a{
    text-decoration: none;
    color: #212121;
}
 .form button{
     font-size: 14px;
     font-weight: 500;
     font-stretch: normal;
     font-style: normal;
     line-height: normal;
     letter-spacing: 0.84px;
     padding: 14px 40px 13px 40px;
     background-color: #2769b3;
     color: #fff;
     border: none;
     border-radius: 0.25rem;
 }
 .shape-1{
     position: absolute;
     right: 78px;
     top: 30px;
 }
.shape-2{
    position: absolute;
    left: 94px;
    top: 30px;
    height: 421px;
 }
.shape-2 img{
    max-height: 100%;
}
.shape-3{
    position: absolute;
    left: 94px;
    bottom: 49px;
    width: 215px;
}
.enter{
    height: 100vh;
    overflow: hidden;
}
.enter .col-lg-7{
    display: flex;
    align-items: center;
}
